<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input [(ngModel)]="user.userEmail" name="UserEmail" required type="text" email class="form-control" placeholder="Email">
  </div>

  <div class="form-group">
    <input [(ngModel)]="user.username" name="Usernam" required type="text" class="form-control" placeholder="Name">
  </div>

  <div class="form-group">
    <input [(ngModel)]="user.password" name="password" required minlength="4" maxlength="8" type="password" class="form-control" placeholder="Password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>